<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EsPy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EPy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EspPY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EspRade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EspIDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <EsPy.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COMx</value>
            </setting>
            <setting name="PyBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="PyPortBoardType" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EolVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhitespaceVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalShowEol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalShowWhitespace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicropythonDocUrl" serializeAs="String">
                <value>http://docs.micropython.org</value>
            </setting>
            <setting name="ProjectsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonExe" serializeAs="String">
                <value />
            </setting>
            <setting name="EspToolPy" serializeAs="String">
                <value />
            </setting>
            <setting name="FrimwareBin" serializeAs="String">
                <value />
            </setting>
            <setting name="EspToolBaud" serializeAs="String">
                <value>460800</value>
            </setting>
            <setting name="PyPortReadTmeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PyPortWriteTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PyPortLineSeparator" serializeAs="String">
                <value>\r\n</value>
            </setting>
            <setting name="ShowPyServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyServerPort" serializeAs="String">
                <value>5005</value>
            </setting>
        </EsPy.Properties.Settings>
        <EPy.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COMx</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoardType" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EolVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhitespaceVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalShowEol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalShowWhitespace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicropythonDocUrl" serializeAs="String">
                <value>http://docs.micropython.org</value>
            </setting>
            <setting name="ProjectsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonExe" serializeAs="String">
                <value />
            </setting>
            <setting name="EspToolPy" serializeAs="String">
                <value />
            </setting>
            <setting name="FrimwareBin" serializeAs="String">
                <value />
            </setting>
            <setting name="EspToolBaud" serializeAs="String">
                <value>460800</value>
            </setting>
        </EPy.Properties.Settings>
        <EspPY.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COMx</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoardType" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PythonDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Ampy" serializeAs="String">
                <value />
            </setting>
            <setting name="EspTool" serializeAs="String">
                <value />
            </setting>
            <setting name="EolVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhitespaceVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalShowEol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalShowWhitespace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicropythonDocUrl" serializeAs="String">
                <value>http://docs.micropython.org</value>
            </setting>
        </EspPY.Properties.Settings>
        <EspRade.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoardType" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PythonDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Ampy" serializeAs="String">
                <value />
            </setting>
            <setting name="EspTool" serializeAs="String">
                <value />
            </setting>
            <setting name="EolVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhitespaceVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalShowEol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalShowWhitespace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicropythonDocUrl" serializeAs="String">
                <value>http://docs.micropython.org</value>
            </setting>
        </EspRade.Properties.Settings>
        <EspIDE.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoardType" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PythonDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Ampy" serializeAs="String">
                <value />
            </setting>
            <setting name="EspTool" serializeAs="String">
                <value />
            </setting>
        </EspIDE.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Dynamic" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
